<%- include("../partials/head") %>

<h1>The skills show page:</h1>
<li class="list-group-item">
    <%= x.language%><hr>
</li>
<li class="list-group-item">
    <%= x.school%>
</li>
<form action="/skills/<%= x.language %>?_method=PUT" method="POST">
    <input type="text" name="update">
    <button type="submit" class="btn btn-secondary">Edit Language</button>
</form>
<form action="/skills/<%= x.language %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>

</body>
</html>